<%#
<div class="container profile">
<% if user_signed_in?%>
  <%# <%= image_tag(current_user.avatar_thumbnail) %>
<%# <%end %>
<%# </div> %>

<div class="container mypost">
<% @post.each do |post| %>
<div class="card">
  <%= image_tag(post.thumbnail(0) , class: "img-thumbnail center")%>
  <div class="card-body">
    <p class="card-text"><strong>Caption: </strong><%=  post.body %></p>
    <div class="d-flex flex-row">
    <%= render "posts/votes_score", post: post %>
    <i class="fa fa-heart" style="font-size:28px;color:red; margin-left: 2%"></i>
    </div>
    <br>
    <div class="d-flex flex-row">
    <%= render "posts/upvote_link", post: post ,class:"btn btn-dark"%>
    <p><%= link_to 'Show', post ,class:"btn btn-dark b1" %></p>
    </div>
  </div>
</div>
<% end%>
</div>

