
<h1>All post</h1>
<table>
  <tr>
    <th>Title</th>
    <th>vote</th>
    <th>count</th>
    <th></th>
  </tr>

  <% @posts.each do |article| %>
    <tr>
      <td><%= article.body %></td>
      <td><%= render "posts/upvote_link", post: article%></td>
      <td><%= render "posts/votes_score", post: article %></td>
      <td><%= link_to 'Show', article %></td>
      <td><%= link_to 'Edit', edit_post_path(article) %></td>
      <td><%= link_to 'Delete', article ,
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

