
<br>
<% if @user == nil %>
  <h1>No Record Found</h1>
<%else%>
<div class="container d-flex flex-row">
  <div>
  <%= image_tag(@user.avatar_thumbnail, class:"xyz")%>
  </div>
  <div class="user_info ">
  <% if user_signed_in? && current_user != @user%>
    <strong><%= @user.email.split('@')[0].capitalize%></strong>
    <br/>
    <%if current_user.following?(@user) %>
      <%= button_to "Unfollow", friendships_path(user_id: @user.id), method: :delete, class:"btn btn-light"%>
    <%else%>
      <%= button_to "Follow", friendships_path(user_id: @user.id),class: "btn btn-primary"%>
    <%end%>
  <%end%>
  </div>
</div>
<%end %>

<br>
<br>

<%if current_user.following?(@user) %>
<div class="container friendpost">
<% @posts.each do |post| %>
<div class="card fpost">
  <%= image_tag(post.thumbnail(0) ,class: "img-thumbnail center" )%>
  <div class="card-body">
    <p class="card-text"><%= post.body %></p>

    <div class="d-flex flex-row">
      <%= render "posts/votes_score", post: post %>
      <i class="fa fa-heart" style="font-size:28px;color:red; margin-left: 2%"></i>
    </div>

    <br>

    <div class="d-flex flex-row">
      <%= render "posts/upvote_link", post: post ,class:"btn btn-dark"%>
      <p><%= link_to 'Show', post ,class:"btn btn-dark b1" %></p>
    </div>

   </div>
  </div>
<% end%>
</div>
<%end%>


