


<% (0...@post.images.count).each do |image|%>
  <%= image_tag(@post.thumbnail(image))%>
<% end%>

<p>
  <strong>Caption:</strong>
  <%= @post.body %>
</p>


<%= link_to 'Back', root_path %>
<% if current_user == @post.user%>
  |<%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Delete', post_path ,
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
<%end%>
<br>
<br>

<%= form_with model: [@post, @comment],local: true do |f| %>
<%= f.text_field :body %>
<%= f.submit "Comment" %>
<%end%>


<% @comments.each do |comment|%>
  [<%= comment.created_at.strftime("%I:%M %p")%>]
  <%= comment.user.email%>
  <% if current_user && current_user == comment.user || current_user == @post.user%>
    <%= link_to "Delete", post_comment_path(@post, comment), method: :delete %>
  <% end %>
  <hr/>
  <%= comment.body%>
  <br/>
  <br/>
<%end%>


